.prev {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-left: 1em;
  margin-right: 2em;
  cursor: pointer;
  width: auto;
  padding: 1em 1em;
}

.prev img {
  width: 30px;
  margin-right: 30px;
}

.prev a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.productMenu {
  float: left;
}

table {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: Left;
  border-collapse: collapse;
}
main {
  flex-direction: row;
}

table td,
th {
  padding: 10px 40px;
}
tr {
  border-bottom: 1px solid var(--primary);
}
th a {
  font-weight: bold;
}
th {
  font-weight: bold;
}

main select {
  height: 30px;
  width: 160px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  max-width: 1500px;
}
.dodaj {
  padding: 20px;
}
.dodaj a {
  font-weight: bold;
  float: right;
}
