img {
  max-width: 200px;
  max-height: 200px;
}

.productMenu {
  float: left;
}

table {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: Left;
  border-collapse: collapse;
}
main {
  flex-direction: row;
}

table td, th {
  padding: 10px 40px;
}
tr {
  border-bottom: 1px solid black;
}
th a {
  font-weight: bold;
}
th {
  font-weight: bold;
}

main select{
    height: 30px;
    width: 150px;

}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  max-width: 1500px;
}
.dodaj {
  padding: 20px;
}
.dodaj a {
  font-weight: bold;
  float: right;
}
