@import "./variables.css";

.flex-row{
    display:flex;
    flex-direction: row;
    
}
.flex-column{
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
    color: var(--main-text-color);
}

a{
    text-decoration: none;
    color: var(--main-text-color);
}

html,body{
    margin:0;
}

select{

    width: 400px;
    height: 75px;
    left: 0px;
    top: 0px;

}

input{
   
    width: 400px;
    height: 75px;
    left: 0px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16em;
    color: var(--main-text-color);

    transition : background-color 500ms ease-out;
}

input, input:focus, input:focus-visible, select{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    
}
input:not([type="submit"]):focus, input:not([type="submit"]):focus-visible{
    border-bottom: 3px black solid;
    background-color: #f5f5f5;
}


input[type="submit"]{
    border: 2px solid black;
    text-align: center;
    display: block;
    background-color: transparent;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}


.error{
    border-bottom: 3px red solid;
}

@font-face {
    font-family: 'Gant';
    src: 
         url('../assets/fonts/gant-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: 
         url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: 
         url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: 
         url('./assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: 
         url('./assets/fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}