.prev{
    margin-left: 3em;
    margin-right: 2em;
    cursor: pointer;
    width: auto;
}
.getBackDiv{
    padding: 7px;
    display: flex;
    align-items: center;
}
.getBack{
    font-size: 25px;
}
.prev img{
    width: 50%;
}
img {
    vertical-align: middle;
    z-index: -1;
    max-width:100%;
    max-height: 100%;
  }
.column{
    margin-left: 1em;
    display: inline-flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;
gap: 1em;
}
.productRow{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero{
    display: flex;
flex-direction: row;
gap: 1rem;
margin-top: 3em;
justify-content: space-evenly;
align-items: start;
align-content: center;
margin-right: 1em;
}
.productHero{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
}
.info{
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.name{

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
letter-spacing: 0.16em;
margin-bottom: 1em;
color: #000000;

}
.description{


font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 41px;
letter-spacing: 0.03em;

color: #000000;
}


.finalize{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: center;
}
.flex-row, .flex-column{
    
    justify-content: space-between;
    gap: 1rem;
}
.flex-column > div{
    font-weight: bold;
}
.flex-column > div> span{
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1280px) {
    .hero{
        flex-direction: column;
        margin-bottom: 2em;
    }
    .info{
        width: 100%;
        align-items: center;
        height: auto;
        gap: 3rem;
        
    }
}