.prev {
    margin-left: 1.5rem;
    cursor: pointer;
    width: auto;
}
.getBackDiv {
    display: flex;
    align-items: center;
}
.getBack {
    font-size: 25px;
}
.prev img {
    width: 50%;
}
img {
    vertical-align: middle;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
}
.column {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    max-width: 600px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.productRow {
    min-width: 193.33px;
    min-height: 193.33px;
    width: 193.33px;
    height: 193.33px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: start;
    align-content: center;
    padding: 1rem;
}
.productHero {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
}
.info {
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16em;
    margin-bottom: 1em;
    color: var(--primary);
}
.description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 41px;
    letter-spacing: 0.03em;

    color: var(--accent);
}

.finalize {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.flex-row,
.flex-column {
    justify-content: space-between;
    gap: 1rem;
}
.flex-column > div {
    font-weight: bold;
}
.flex-column > div > span {
    border-bottom: 1px solid var(--primary);
}

@media screen and (max-width: 1280px) {
    .hero {
        flex-direction: column;
        margin-bottom: 2em;
        align-items: center;
    }
    .description {
        max-width: 600px;
    }
    .hero .flex-row {
        flex-direction: column-reverse;
    }
    .hero .flex-row .column {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .info {
        width: 100%;
        align-items: center;
        height: auto;
        gap: 3rem;
    }
    input {
        width: auto !important;
    }
}
