
table{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
align-content: center;
text-align: Left;

}

main{
    flex-direction: row;
}

table td, th{
    padding: 0 10px;
}

section.boxed{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

th
{
    font-weight: bold;
}


.right{
    float:right;
}
